
html, body {
    height: 100%;
  }
  
  .full-height {
    height: 100%;
  }


  .borderSection{
      border-color: blue;
      border-style: groove;
      border-width: 5px;
      border-radius: 8px;
  }
  .headerText{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
  }

  .c:active{
    border-color: blue;
    border-style: groove;
    border-width: 5px;
    border-radius: 8px;
  }


.c1{
    height: 200px;
    width: 200px;
}
.c2{
    height: 200px;
    width: 200px;
}
.c3{
    height: 200px;
    width: 200px;
}
.c4{
    height: 200px;
    width: 200px;
}
